<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    Menu:
    <%= link_to "Home", root_path %> |
    <%= link_to "View Houses", houses_path %> |
    <%= link_to "View Students", students_path %>
  </div>

  <div id="notice">
    <%= flash[:notice] %>
  </div>

  <%= yield %>

</body>
</html>
